body {
  margin: 0;
  padding: 0;
  background-color: green;
  background-size: cover;
  height: 100vh;
}
.main {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}
.red {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yellow {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.green {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.red_comm {
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  color: white;
  font-weight: 700;
}
.yellow_comm {
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  font-weight: 700;
}
.green_comm {
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  font-weight: 700;
}